<a href="https://colab.research.google.com/github/baldwibr/Coursera_Capstone/blob/main/MATH_M366_HW_CH3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework Section 3

Question 8

In [1]:
9*10*10*10*5

45000

Section 3.3 Question 5

A class has 50 students. Of these, 13 students are physics majors and 15 students are female. Of the physics students, 5 are female. Find the probablility of a randomly selected student is a physics student or female.

In [4]:
physics_majors = 13/50
female_students = 15/50
female_physics_students = 5/50

prob = physics_majors + female_students - (female_physics_students)
print(prob.__round__(3))

0.46

Question 6

Of the cartons a company produces, 4% have a puncture, 9% have a smashed corner, and 0.4% have both.

In [5]:
puncture = .04
smashed_corner = .09
both = .004

prob2 = puncture + smashed_corner - both
print(prob2)

0.126

In [8]:
(4/6).__round__(3)

0.667

In [12]:
import numpy as np

survey = np.array([542,341,314,257])

1 - (survey[1]/survey.sum()).__round__(3)

0.765

In [15]:
((survey[1] + survey[3]) / survey.sum()).__round__(3)

0.411

In [16]:
((survey[0] + survey[2]) / survey.sum()).__round__(3)

0.589

In [17]:
((survey[2] + survey[3]) / survey.sum()).__round__(3)

0.393

Question 9

In [26]:
import pandas as pd
from io import StringIO

data20 = StringIO('''
,Degrees in Field,Degrees Outside of Field,Total
Males,177382,600354,777736
Females,151280,893070,1044350
Total,328662,1493424,1822086
''')
df20 = pd.read_csv(data20,sep=',',index_col=0)
df20

         Degrees in Field  Degrees Outside of Field    Total
Males              177382                    600354   777736
Females            151280                    893070  1044350
Total              328662                   1493424  1822086

In [29]:
prob_degree_in_field = (df20.loc['Total','Degrees in Field'] / df20.loc['Total','Total'])
prob_male = (df20.loc['Males','Total'] / df20.loc['Total','Total'])
prob_male_degree_in_field = (df20.loc['Males','Degrees in Field']) / df20.loc['Total','Total']
(prob_degree_in_field + prob_male - prob_male_degree_in_field).__round__(3)

0.51

In [30]:
prob_degree_outside_field = (df20.loc['Total','Degrees Outside of Field'] / df20.loc['Total','Total'])
prob_female = (df20.loc['Females','Total'] / df20.loc['Total','Total'])
prob_female_degree_outside_field = (df20.loc['Females','Degrees Outside of Field']) / df20.loc['Total','Total']
(prob_degree_outside_field + prob_female - prob_female_degree_outside_field).__round__(3)

0.903

In [31]:
prob_male_degree_outside_field = (df20.loc['Males','Degrees Outside of Field']) / df20.loc['Total','Total']
(prob_male + prob_degree_outside_field - prob_male_degree_outside_field).__round__(3)

0.917